.skills-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: min(180px, 20%);
}

.skills-container h2.title {
    margin: 0;
}

.skills-container .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    align-self: center;
    padding-top: min(64px, 20%);
}
