a.anchor-link {
    font-size: 1.125em;
    margin-right: 4vw;
    border: none;
    text-decoration: none;
}

a.anchor-link:hover {
    color: #0635C9;
    border-bottom: 2px solid #0635C9;
}


@media screen and (max-device-width: 767px) {
    .anchor-link {
        display: none;
    }
}
